## Scraping Data From a Real Website + Pandas

In [6]:
import os
print(os.getcwd())

C:\Users\user

In [1]:
 from bs4 import BeautifulSoup
 import requests

In [3]:
url='https://en.wikipedia.org/wiki/List_of_largest_companies_in_the_United_States_by_revenue'

In [13]:
page=requests.get(url)

In [47]:
soup=BeautifulSoup(page.text, 'html')
print(soup.prettify())

SyntaxError: cannot assign to function call (1398023802.py, line 1)

In [55]:
table=soup.find_all('table')[0]

In [57]:
worlds_title=table.find_all('th')
worlds_title

[<th>Rank
 </th>,
 <th>Name
 </th>,
 <th>Industry
 </th>,
 <th>Revenue <br/>(USD millions)
 </th>,
 <th>Revenue growth
 </th>,
 <th>Employees
 </th>,
 <th>Headquarters
 </th>]

In [59]:
world_table_title=[title.text.strip() for title in worlds_title]
print(world_table_title)

['Rank', 'Name', 'Industry', 'Revenue (USD millions)', 'Revenue growth', 'Employees', 'Headquarters']

In [61]:
import pandas as pd

In [106]:
df=pd.DataFrame(columns= world_table_title)
df

Empty DataFrame
Columns: [Rank, Name, Industry, Revenue (USD millions), Revenue growth, Employees, Headquarters]
Index: []

column_data= table.find_all('tr')
column_data

In [108]:
for row in column_data[1:]:
    row_data=row.find_all('td')
    ind_row_data= [data.text.strip() for data in row_data]

    
    length=len(df)
    df.loc[length]=ind_row_data

In [111]:
df

,Rank,Name,Industry,Revenue (USD millions),Revenue growth,Employees,Headquarters
0,1,Walmart,Retail,"648,125",6.0%,"2,100,000","Bentonville, Arkansas"
1,2,Amazon,Retail and cloud computing,"574,785",11.9%,"1,525,000","Seattle, Washington"
2,3,Apple,Electronics industry,"383,482",-2.8%,"161,000","Cupertino, California"
3,4,UnitedHealth Group,Healthcare,"371,622",14.6%,"440,000","Minnetonka, Minnesota"
4,5,Berkshire Hathaway,Conglomerate,"364,482",20.7%,"396,500","Omaha, Nebraska"
...,...,...,...,...,...,...,...
95,96,TIAA,Financials,"45,735",11.8%,"16,023","New York City, New York"
96,97,CHS,Agriculture cooperative,"45,590",-4.6%,"10,609","Inver Grove Heights, Minnesota"
97,98,Bristol-Myers Squibb,Pharmaceutical industry,"45,006",-2.5%,"34,100","New York City, New York"
98,99,Dow Chemical Company,Chemical industry,"44,622",-21.6%,"35,900","Midland, Michigan"
99,100,Best Buy,Retail,"43,452",-6.1%,"85,000","Richfield, Minnesota"

In [131]:
df.to_csv(r'C:\Users\user\Downloads\My Projects\Python\Companies_Data.csv', index= False)

In [135]:
# Step 1: Initialize an empty list to hold all the row data
all_rows_data = []

# Step 2: Loop through all the rows starting from the second row (to skip the header)
for row in column_data[1:]:
    # Get the data cells (td elements) in the current row
    row_data = row.find_all('td')
    
    # Extract the text from each cell and strip any extra spaces
    ind_row_data = [data.text.strip() for data in row_data]
    
    # Step 3: Append the row's data to the all_rows_data list
    all_rows_data.append(ind_row_data)

# Step 4: Create a DataFrame from all the rows at once
df1 = pd.DataFrame(all_rows_data, columns=world_table_title)

# Now you can print or 4use the df as needed
df1

,Rank,Name,Industry,Revenue (USD millions),Revenue growth,Employees,Headquarters
0,1,Walmart,Retail,"648,125",6.0%,"2,100,000","Bentonville, Arkansas"
1,2,Amazon,Retail and cloud computing,"574,785",11.9%,"1,525,000","Seattle, Washington"
2,3,Apple,Electronics industry,"383,482",-2.8%,"161,000","Cupertino, California"
3,4,UnitedHealth Group,Healthcare,"371,622",14.6%,"440,000","Minnetonka, Minnesota"
4,5,Berkshire Hathaway,Conglomerate,"364,482",20.7%,"396,500","Omaha, Nebraska"
...,...,...,...,...,...,...,...
95,96,TIAA,Financials,"45,735",11.8%,"16,023","New York City, New York"
96,97,CHS,Agriculture cooperative,"45,590",-4.6%,"10,609","Inver Grove Heights, Minnesota"
97,98,Bristol-Myers Squibb,Pharmaceutical industry,"45,006",-2.5%,"34,100","New York City, New York"
98,99,Dow Chemical Company,Chemical industry,"44,622",-21.6%,"35,900","Midland, Michigan"
99,100,Best Buy,Retail,"43,452",-6.1%,"85,000","Richfield, Minnesota"

In [2]:
all_rows_data

NameError: name 'all_rows_data' is not defined